@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .entry svg {
        display: none;
        transition: all .2s ease;
    }

    .entry:hover svg {
        display: block;
    }

}
